<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1040925955324-gpdtklfq3bne4ldqelfj05fnbs0fk1g8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1040925955324-gpdtklfq3bne4ldqelfj05fnbs0fk1g8</string>
	<key>API_KEY</key>
	<string>AIzaSyBn14Zq4E3osk19mM_s_gUE4fXCGARMNr8</string>
	<key>GCM_SENDER_ID</key>
	<string>1040925955324</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled1</string>
	<key>PROJECT_ID</key>
	<string>fir-sample-app-e8f5a</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-sample-app-e8f5a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1040925955324:ios:15ce27ea7061344ffa7379</string>
</dict>
</plist>